.vertical {
    display: flex;
    flex-direction: column;
    line-height: 60px;
    // background-color: blueviolet;
    padding: 10px;
}
.small_margin {
    padding: 18px;
    margin: 0px 0px;
    // background-color: blueviolet;
}
.medium_margin {
    padding: 12px;
    margin: 0px auto;
    // background-color: blueviolet;
    width: 500px;
}
.medium_margin_scan {
    padding: 12px;
    margin: 180px auto;
    // background-color: blueviolet;
    width: 500px;
}
.list_padding {
    padding: 4px;
    // margin: 0px 0px;
    border-radius: 12px !important;
    background-color: var(--ion-color-light);
}
.item-background-color{
    --ion-item-background:transparent;
}
.small_b_margin {
    padding: 0px;
    margin: 4px 0px;
}
.medium_b_margin {
    padding: 12px;
    margin: 40px 0px;
}
.big_b {
    height: 50px;
    width: 200px;
    margin: 8px auto;
}
.small_b {
    height: 40px;
    margin: 8px auto;
}