.vertical {
    display: flex;
    flex-direction: column;
    line-height: 60px;
    // background-color: blueviolet;
    padding: 10px;
}
.small_margin {
    padding: 0px;
    margin: 0px 0px;
}
.medium_margin {
    padding: 12px;
    margin: 0px auto;
    // background-color: blueviolet;
    width: 400px;
}
.list_padding {
    padding: 4px;
    // margin: 0px 0px;
    border-radius: 12px !important;
}
.small_b_margin {
    padding: 0px;
    margin: 4px 0px;
}
.medium_b_margin {
    padding: 12px;
    margin: 60px 0px;
}