<ion-header>
  <ion-toolbar color="light">
    <!-- <ion-buttons slot="start"> -->
    <!-- <ion-button (click)="close()" *ngIf="level == 0">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-back-button *ngIf="level > 0"></ion-back-button> -->
    <!-- </ion-buttons> -->
    <ion-title>Bauteil auswählen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%; display: flex; flex-flow: column;">

    <app-engine></app-engine>

    <div [ngClass]="{'medium_margin': width >= 567, 'small_margin': width < 567 }">

      <ion-list-header>
        Bauteillängen
      </ion-list-header>

      <ion-list class="list_padding" lines="none">
        <ion-item class="item-background-color">
          <ion-label slot="start">{{ 'Obergestell Rechts' }}</ion-label>
          <ion-row slot="end">
            <ion-col>
              <ion-label class="ion-text-end">{{ this.getCurrentChairParts().OgR ? this.getCurrentChairParts().OgR.toFixed(2) : '--'}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="ion-text-end">{{ ' cm' }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item class="item-background-color">
          <ion-label slot="start">{{ 'Obergestell Links' }}</ion-label>
          <ion-row slot="end">
            <ion-col>
              <ion-label class="ion-text-end">{{ this.getCurrentChairParts().OgL ? this.getCurrentChairParts().OgL.toFixed(2) : '--'}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="ion-text-end">{{ ' cm' }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item class="item-background-color">
          <ion-label slot="start">{{ 'Untergestell Rechts' }}</ion-label>
          <ion-row slot="end">
            <ion-col>
              <ion-label class="ion-text-end">{{ this.getCurrentChairParts().UgR ? this.getCurrentChairParts().UgR.toFixed(2) : '--'}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="ion-text-end">{{ ' cm' }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item class="item-background-color">
          <ion-label slot="start">{{ 'Untergestell Links' }}</ion-label>
          <ion-row slot="end">
            <ion-col>
              <ion-label class="ion-text-end">{{ this.getCurrentChairParts().UgL ? this.getCurrentChairParts().UgL.toFixed(2) : '--'}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="ion-text-end">{{ ' cm' }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

      <ion-list-header [ngClass]="{'medium_menu_margin': height >= 1000, '': height < 1000 }">
        <ion-label>
          Wähle das zu produzierende Bauteil aus
        </ion-label>
      </ion-list-header>
      <ion-item class="item-background-color">
        <ion-label position="fixed">Bauteil</ion-label>
        <ion-select slot="end" style="max-width: 50%; width:100%;" [ngModel]="selectedPart" (ionChange)="selectedPartChanged($event)" interface="popover"
          placeholder="Auswählen">
          <ion-select-option value="OgR">Obergestell Rechts</ion-select-option>
          <ion-select-option value="OgL">Obergestell Links</ion-select-option>
          <ion-select-option value="UgR">Untergestell Rechts</ion-select-option>
          <ion-select-option value="UgL">Untergestell Links</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-row class="ion-align-self-center ion-align-items-top" [ngClass]="{'medium_b_margin': height >= 1000, 'small_b_margin': height < 1000 }"
      style="flex-grow: 1;">
      <div class="vertical">
        <ion-button color="primary" shape="round" class="big_b" (click)="confirmChairParts()">
          <ion-icon slot="start" name="checkmark"></ion-icon>
          Bestätigen
        </ion-button>
        <ion-button color="dark" shape="round" fill="outline" class="big_b" (click)="restartScan()">Neustarten</ion-button>
      </div>
    </ion-row>
  </ion-grid>

</ion-content>