<ion-header>
  <ion-toolbar color="light">
    <!-- <ion-buttons slot="start"> -->
    <!-- <ion-button (click)="close()" *ngIf="level == 0">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-back-button *ngIf="level > 0"></ion-back-button> -->
    <!-- </ion-buttons> -->
    <ion-title>Bauteil auswählen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Bauteillängen
    </ion-list-header>

    <ion-list lines="full">
      <ion-item>
        <ion-label slot="start">{{ 'Obergestell Rechts' }}</ion-label>
        <ion-label class="ion-text-end">{{ this.getCurrentChairParts().OgR ? this.getCurrentChairParts().OgR.toFixed(2) : '--'}}</ion-label>
        <ion-label class="ion-text-end">{{ ' cm' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">{{ 'Obergestell Links' }}</ion-label>
        <ion-label class="ion-text-end">{{ this.getCurrentChairParts().OgL ? this.getCurrentChairParts().OgL.toFixed(2) : '--'}}</ion-label>
        <ion-label class="ion-text-end">{{ ' cm' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">{{ 'Untergestell Rechts' }}</ion-label>
        <ion-label class="ion-text-end">{{ this.getCurrentChairParts().UgR ? this.getCurrentChairParts().UgR.toFixed(2) : '--'}}</ion-label>
        <ion-label class="ion-text-end">{{ ' cm' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">{{ 'Untergestell Links' }}</ion-label>
        <ion-label class="ion-text-end">{{ this.getCurrentChairParts().UgL ? this.getCurrentChairParts().UgL.toFixed(2) : '--'}}</ion-label>
        <ion-label class="ion-text-end">{{ ' cm' }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>
          Wähle das zu produzierende Bauteil
        </ion-label>
      </ion-list-header>


    </ion-list>

    <ion-item>
      <ion-label>Bauteil</ion-label>
      <ion-select [ngModel]="selectedPart" (ionChange)="selectedPartChanged($event)" interface="popover" placeholder="Select Part">
        <ion-select-option value="OgR">Obergestell Rechts</ion-select-option>
        <ion-select-option value="OgL">Obergestell Links</ion-select-option>
        <ion-select-option value="UgR">Untergestell Rechts</ion-select-option>
        <ion-select-option value="UgL">Untergestell Links</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button color="secondary" (click)="confirmChairParts()" expand="block">Bestätigen</ion-button>
    <ion-button color="light" (click)="restartScan()" expand="block">Neustarten</ion-button>

  </ion-list>

</ion-content>