<!-- Navigation without URL change using Modals: https://ionicframework.com/blog/how-to-navigate-in-ionic-modals-with-ion-nav/ -->

<ion-header>
  <ion-toolbar id="toolbar-light" color="light">
    <ion-buttons slot="start">
      <ion-button (click)="close()" *ngIf="level == 0">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-back-button *ngIf="level > 0"></ion-back-button>
    </ion-buttons>
    <ion-title>Neuer Scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Responsive grid layout: https://ionicframework.com/docs/layout/grid#stacked-to-horizontal -->
  <!-- Responsive device sizing: https://ionicframework.com/docs/layout/css-utilities#ionic-breakpoints -->

  <!-- 'ion-text-center' centers items horizontally -->
  <!-- 'ion-align-self-center' centers items vertically -->

  <ion-grid style="height: 100%;">
    <ion-row style=" height: 100%;">

      <ion-col [ngClass]="{ 'ion-text-end ion-align-self-center': width >= 576, 'ion-text-center ion-align-self-end': width < 576 }" size="12" size-sm>
        <ion-button color="light" fill='solid' size="large" class="sqare_button light rounded" (click)="presentKinectModal()">
          <div class="vertical">
            <!-- <ion-img [src]="isStatusBarLight ? 'assets/xbox-kinect.png' : 'assets/xbox-kinect-light.png'" style="width: 140px; height: 70px;"></ion-img> -->
            <ion-icon name="logo-xbox" style="zoom:3.5;"></ion-icon>
            <ion-label text-uppercase style="font-size: 15px;">Xbox Kinect</ion-label>
            <ion-icon name="arrow-forward" style="zoom:1.5;"></ion-icon>
          </div>
        </ion-button>
      </ion-col>

      <ion-col [ngClass]="{ 'ion-text-start ion-align-self-center': width >= 576, 'ion-text-center ion-align-self-start': width < 576 }" size="12" size-sm>
        <ion-button color="light" fill='solid' size="large" class="sqare_button light rounded" (click)="presentVRModal()">
          <div class="vertical">
            <!-- <ion-icon slot="start" name="image" style="zoom:2.0;"></ion-icon> -->
            <ion-img src="assets/vr.png" style="width: 160px; height: 70px;"></ion-img>
            <ion-label text-uppercase style="font-size: 15px;">Virtualretail</ion-label>
            <ion-icon name="arrow-forward" style="zoom:1.5;"></ion-icon>
          </div>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>