<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="close()" *ngIf="level == 0">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-back-button *ngIf="level > 0"></ion-back-button>
    </ion-buttons>
    <ion-title>ModalVRQRLink Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list style="height: 100%;">
    <ion-grid style="height: 80%;">
      <ion-row style="height: 100%;">
        <ion-col class="ion-text-center ion-align-self-center" size="12" size-sm>
          <div class="vertical">

            <ion-img *ngIf="!this.platform.is('mobile') && (getScanStatusText() == null)" [src]="convertedImage"></ion-img>
            <h5 *ngIf="getScanStatusText() == null">Schließe den Scan Vorgang auf der Mobilescan.me Website ab, um fortfahren zu können.</h5>
            <h5 *ngIf="getScanStatusText()">{{getScanStatusText()}}</h5>

            <ion-spinner *ngIf="this.showSpinner && this.hasScanLink()"></ion-spinner>

            <div *ngIf="this.platform.is('mobile') && showOpenBrowserButton && this.hasScanLink()">
              <ion-text color="danger">
                <h6>Info: Make sure to disable Pop-Up blocking in your browser
                  settings if no window is showing up.</h6>
              </ion-text>

              <ion-button expand="block" (click)="openBrowser()">
                <ion-icon slot="start" name="open-outline"></ion-icon>
                Mobilescan.me Öffnen
              </ion-button>
            </div>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>

</ion-content>