<ion-header [translucent]="true">
  <ion-toolbar id="toolbar-secondary" color="primary">
    <ion-title>
      Remote Production
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentModal()">
        <ion-icon slot="icon-only" ios="add" md="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar color='primary'>
      <ion-title size="large">Remote Production</ion-title>
    </ion-toolbar>
  </ion-header>



  <!-- Fixed Floating Action Button that does not scroll with the content -->
  <!-- <ion-fab slot="fixed">
    <ion-fab-button color="primary">+</ion-fab-button>
  </ion-fab> -->

  <ion-list>
    <ion-list-header>
      Gescannte Daten
    </ion-list-header>

    <ion-item button *ngFor="let scan of scans" (click)="presentDetail()">
      <ion-avatar slot="start" class="ios hydrated">
        <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"> -->
      </ion-avatar>
      <ion-label>
        <ion-row>
          <ion-col>
            <h2>{{ scan.name }}</h2>
          </ion-col>
          <ion-col class="ion-text-end">
            <h3>{{ scan.date }}</h3>
          </ion-col>
        </ion-row>
        <p>Sitzhöhe: {{ scan.measurements[0] }} mm, Sitztiefe: {{ scan.measurements[1] }} mm, Sitzbreite: {{
          scan.measurements[2] }} mm, Lehnenhöhe: {{ scan.measurements[3] }} mm, Armlehnenhöhe: {{ scan.measurements[4]
          }} mm </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>