<ion-header [translucent]="true">
  <ion-toolbar id="toolbar-secondary" color="primary">
    <ion-title>
      Remote Production
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentModal()">
        <ion-icon slot="icon-only" ios="add" md="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar color='primary'>
      <ion-title size="large">Remote Production</ion-title>
    </ion-toolbar>
  </ion-header>



  <!-- Fixed Floating Action Button that does not scroll with the content -->
  <!-- <ion-fab slot="fixed">
    <ion-fab-button color="primary">+</ion-fab-button>
  </ion-fab> -->
  <ion-grid style="height: 100%; display: flex; flex-flow: column;">

    <ion-row class="ion-align-self-center ion-align-items-center" style="flex-grow: 1;">
      <div class="vertical">
        <ion-button color="primary" fill='outline' shape="round" (click)="presentModal()" class="big_button">
          <ion-icon slot="start" name="add"></ion-icon>
          Neuer Scan
        </ion-button>
        <!-- <ion-button color="light" (click)="restartScan()">Neustarten</ion-button> -->
      </div>
    </ion-row>
  </ion-grid>

</ion-content>